<div class="container">
  <div id="new-user-form-container">
  </div>
</div>

<script>
  ReactDOM.render(
    React.createElement(NewUserForm, {}),
    document.getElementById('new-user-form-container')
  );
</script>
