<div class="container">
  <h1>All Boards:</h1><br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Key</th>
        <th>Title</th>
        <th>Active</th>
      <tr>
    </thead>
    <tbody>

    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.key, "/boards/#{board.key}" %><br/></td>
        <td><%= board.title %></td>
        <td><%= link_to "#{board.active}",
                        boards_update_path(board.key, board: {active: !board.active
                        }),
                        method: 'put' %></td>

      </tr>
    <% end %>

    </tbody>
  </table>

</div>
