<h1>Shout Out Boards Show (key: <%= @board_json %>)<h1>

<div id="board-stage">
</div>
<script>
var board_json = Immutable.fromJS(<%= @board_json.html_safe %>)
  ReactDOM.render(
    React.createElement(BoardStage, {boardStageData: board_json}),
    document.getElementById("board-stage")
  );
</script>
