#board-stage {
  #board-stage {
    .category-col {
      border: 4px solid black;
      height: 700px;
      overflow-y: scroll;
    }

    .post {
      border: 1px solid gray;
      border-radius: 25px;
      background-color: #bfff80;
      padding: 10px;
    }

  }
}
