#board-stage {
  #board-stage {
    .category-header {
      border-top: 4px solid black;
      border-left: 4px solid black;
      &:last-child {
        border-right: 4px solid black;
      }

      p {
        font-size: 2em;
      }
    }

    .category-col {
      border-left: 4px solid black;
      border-bottom: 4px solid black;
      height: 65vh;
      overflow-y: scroll;
      &:last-child {
        border-right: 4px solid black;
      }
    }

    .post {
      border: 1px solid gray;
      border-radius: 25px;
      padding: 10px;
    }

  }
}
