#new-post-form {
  #key-input-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    input {
      height: 55px;
      font-size: 2em;
    }
  }

  .tab-content {
    textarea {
      height: 120px;
      margin-bottom: 10px;
      font-size: 1.3em;
    }
  }
}
