#new-board-form-container {
  h1 {
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .tooltip-inner {
      min-width: 150px; //the minimum width
  }

  #categories-section {
    margin-top: 50px;
  }
}
